h1 {
    text-orientation: center;
    margin: 60px;
    font-size: 5em;
}

.shit {
    color: blue;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
}

p, div {
    background-color: gray;
}

h2 {
    border-color: gray;
    margin-top: 0px;
    font-size: 1.2em;
}

li {
    list-style-type: none;
}

#content {
    text-decoration: underline;
    font-size: 1.2em;
}

.image {
    font-family: monospace;
    max-height: 600px;
}
