h1 {
    text-align: center;
    font-size: 36px;
    margin: 0px;
}
p {
    margin: 0px;
}
.subtitle {
    text-align: center;
    font-size: 28px;
}
.content {
    font-family: "Comic Sans MS";
}
.emph {
    font-style: italic;
}